body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://image.cnbcfm.com/api/v1/image/102608685-134950648.jpg?v=1532564317);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="hub_location"],
form input[type="file"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table a {
    text-decoration: none;
    color: #333;
}

table a:hover {
    text-decoration: underline;
    color: #000;
}
.add-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #258514;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.add-button:hover {
    background-color: #45a049;
}
.sidebar {
    position: fixed; /* Keep the sidebar fixed on the screen */
    left: 0; /* Align the sidebar to the left side */
    top: 0; /* Optionally, you can adjust the top position */
    bottom: 0; /* Optionally, you can adjust the bottom position */
    width: 150px; /* Adjust the width as needed */
    background-color: #ff9335;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.sidebar a {
    display: block;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
}

.sidebar i {
    font-size: 24px;
    margin-bottom: 5px;
}


.content {
    flex: 1;
    padding: 20px;
    position: relative; /* Position relative for absolute positioning */
}


.user-info {
    font-size: 14px;
    margin-top: 20px;
}

.add-manager-link {
    display: block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
}
/* Style for the modal popup */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    margin-top: 5%;
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .logout-link {
    color: #fff;
    text-decoration: none;
    margin-top: 300%;
    font-size: x-large;
}
.clock-out-button {
    color: red;
}
.weekly-calendar {
    min-width: 850px;
}

.calendar {
    background: #2CA8C2;
    color: #FFF;
    width: 100%;
    font-family: 'Oxygen';
    table-layout: fixed;
}

.calendar.purple {
    background: #913CCD;
}

.calendar.pink {
    background: #F15F74;
}

.calendar.orange {
    background: #F76D3C;
}

.calendar.yellow {
    background: #F7D842;
}

.calendar.green {
    background: #98CB4A;
}

.calendar.grey {
    background: #839098;
}

.calendar.blue {
    background: #5481E6;
}

.calendar-title th {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.05);
}

.calendar-header th {
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.calendar tbody tr td {
    text-align: center;
    vertical-align: top;
    width: 14.28%;
}

.calendar tbody tr td.pad {
    background: rgba(255, 255, 255, 0.1);
}

.calendar tbody tr td.day {}

.calendar tbody tr td.day div:first-child {
    padding: 4px;
    line-height: 17px;
    height: 25px;
}

.calendar tbody tr td.day div:last-child {
    font-size: 10px;
    padding: 4px;
    min-height: 25px;
}

.calendar tbody tr td.today {
    background: rgba(0, 0, 0, 0.25);
}

.calendar tbody tr td.mask-start,
.calendar tbody tr td.mask,
.calendar tbody tr td.mask-end {
    background: #C23B22;
}

.calendar .cal-weekview-time {
    border: rgba(0, 0, 0.25);
}

.calendar .cal-weekview-time {
    padding: 4px 2px 2px 4px;
}

.calendar .cal-weekview-time>div {
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
    min-height: 50px;
}

.calendar .cal-weekview-event.mask-start,
.calendar .cal-weekview-event.mask,
.calendar .cal-weekview-event.mask-end {
    background: #C23B22;
    margin-bottom: 3px;
    padding: 5px;
}

.calendar .cal-weekview-time-th {
    background: rgba(0, 0, 0, .1);
}

.calendar .cal-weekview-time-th>div {
    padding: 10px;
    min-height: 50px;
}

.calendar .event-summary-row {
    display: block;
}

@media screen and (max-width:768px) {
    .weekly-calendar-container {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
}